In [132]:
import pandas as pd
import datetime as datetime

In [133]:
# Load CSV
readPath = 'delivery_orders_march.csv'
Order_df = pd.read_csv(readPath)
df = Order_df.copy()
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ..."
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M..."
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number..."
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

In [134]:
# load top 1000 rows
used_df = df.loc[0:1000,:]
used_df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ..."
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M..."
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number..."
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

In [135]:
SLA_Manila_BtoS = [['metro manila',3],['luzon',5],['visayas',7],['mindanao',7]]
SLA_Luzon_BtoS = [['metro manila',5],['luzon',5],['visayas',7],['mindanao',7]]
SLA_Visayas_BtoS = [['metro manila',7],['luzon',7],['visayas',7],['mindanao',7]]
SLA_Mindanao_BtoS = [['metro manila',7],['luzon',7],['visayas',7],['mindanao',7]]

In [136]:
buyer_address_list = used_df['buyeraddress'].to_list()
seller_address_list = used_df['selleraddress'].to_list()
SLA_days_list = []

In [137]:
def get_SLA_days(target_SLA,seller_address):
    for item in target_SLA:
        if item[0] in seller_address:
            # print(item[1])
            return item[1]

In [138]:
i = 0
while i < len(buyer_address_list):
    buyer_address = buyer_address_list[i].lower()
    seller_address = seller_address_list[i].lower()
    # print(buyer_address)
    # print(seller_address)
    if 'metro manila' in buyer_address:
        target_SLA = SLA_Manila_BtoS
    elif 'luzon' in buyer_address:
        target_SLA = SLA_Luzon_BtoS
    elif 'visayas' in buyer_address:
        target_SLA = SLA_Visayas_BtoS
    else:
        target_SLA = SLA_Mindanao_BtoS

    day = get_SLA_days(target_SLA, seller_address)
    SLA_days_list.append(day)

    i += 1

In [139]:
del used_df['buyeraddress']
del used_df['selleraddress']
used_df['SLA'] = SLA_days_list 
used_df.head(1000)
print(SLA_days_list)

[3, 3, 3, 3, 5, 3, 3, 3, 5, 7, 3, 5, 3, 5, 7, 3, 3, 3, 3, 7, 3, 3, 7, 7, 3, 3, 3, 7, 3, 3, 7, 3, 5, 3, 5, 3, 5, 7, 3, 5, 7, 3, 3, 3, 5, 3, 3, 7, 3, 5, 3, 3, 3, 3, 3, 3, 5, 3, 3, 5, 5, 3, 7, 7, 5, 3, 3, 7, 3, 5, 3, 5, 7, 7, 3, 3, 3, 5, 3, 5, 3, 7, 5, 3, 7, 3, 5, 3, 3, 5, 7, 3, 7, 3, 5, 3, 5, 3, 7, 7, 3, 5, 7, 3, 7, 7, 7, 3, 5, 7, 5, 7, 3, 5, 3, 7, 7, 7, 3, 7, 3, 3, 7, 3, 7, 7, 3, 3, 5, 3, 7, 5, 7, 7, 7, 3, 5, 3, 5, 7, 5, 5, 5, 7, 3, 3, 3, 7, 3, 3, 3, 3, 7, 7, 7, 5, 3, 7, 3, 3, 3, 5, 5, 3, 5, 7, 7, 3, 7, 3, 3, 5, 3, 3, 7, 3, 7, 7, 3, 7, 3, 5, 5, 3, 7, 7, 7, 5, 3, 3, 3, 5, 5, 7, 5, 3, 3, 7, 3, 5, 3, 5, 7, 3, 7, 5, 5, 7, 7, 7, 3, 7, 7, 3, 3, 3, 5, 5, 5, 3, 7, 3, 3, 3, 5, 5, 7, 5, 5, 3, 3, 5, 3, 3, 7, 5, 7, 3, 3, 7, 5, 7, 5, 3, 7, 3, 5, 5, 3, 3, 3, 5, 3, 7, 3, 3, 7, 5, 5, 3, 5, 3, 3, 3, 7, 7, 7, 7, 7, 7, 5, 7, 7, 3, 3, 7, 5, 7, 5, 5, 7, 5, 5, 5, 5, 3, 3, 3, 3, 7, 3, 3, 5, 7, 7, 3, 7, 3, 7, 5, 5, 5, 5, 3, 3, 3, 7, 3, 5, 3, 3, 7, 5, 5, 3, 5, 3, 5, 3, 7, 5, 7, 3, 3, 7, 3, 3, 7, 3, 7, 5, 5, 3, 3, 7, 7, 5, 3, 7, 7, 3, 3, 3, 3, 3, 3, 5, 3, 7, 5, 7, 5, 3, 3, 7, 3, 7, 3, 3, 3, 3, 7, 3, 3, 3, 3, 3, 3, 5, 3, 5, 5, 7, 5, 7, 3, 5, 5, 3, 3, 3, 3, 7, 7, 3, 3, 7, 3, 3, 7, 5, 3, 7, 5, 3, 7, 3, 3, 3, 7, 5, 3, 3, 7, 3, 7, 3, 7, 5, 3, 5, 3, 5, 7, 3, 3, 7, 7, 7, 3, 7, 3, 3, 7, 5, 5, 7, 3, 3, 3, 7, 7, 5, 3, 7, 3, 7, 3, 5, 5, 7, 5, 3, 7, 3, 3, 5, 7, 5, 5, 3, 7, 7, 5, 5, 7, 7, 7, 7, 7, 7, 5, 3, 3, 7, 5, 5, 5, 3, 7, 3, 7, 7, 3, 3, 3, 3, 7, 5, 3, 7, 3, 7, 3, 3, 7, 3, 3, 7, 3, 7, 7, 3, 3, 3, 7, 7, 3, 3, 3, 3, 7, 3, 3, 7, 5, 3, 5, 3, 7, 3, 3, 7, 3, 7, 3, 3, 7, 7, 7, 3, 3, 3, 3, 7, 3, 3, 5, 3, 3, 3, 7, 3, 7, 5, 7, 5, 3, 7, 3, 3, 3, 3, 5, 5, 3, 5, 7, 5, 7, 7, 7, 7, 5, 5, 5, 3, 3, 7, 3, 3, 3, 3, 7, 7, 7, 7, 7, 3, 7, 3, 5, 3, 7, 3, 5, 3, 3, 3, 3, 7, 3, 3, 3, 7, 7, 7, 3, 3, 3, 3, 5, 3, 7, 7, 3, 3, 5, 3, 3, 3, 7, 3, 5, 3, 3, 3, 5, 3, 7, 5, 3, 3, 3, 7, 3, 3, 3, 7, 3, 5, 5, 5, 5, 5, 3, 7, 3, 7, 7, 5, 7, 3, 3, 3, 3, 5, 5, 3, 5, 5, 3, 3, 5, 7, 5, 3, 5, 3, 3, 3, 3, 7, 3, 3, 7, 3, 5, 5, 3, 3, 3, 5, 5, 7, 5, 5, 5, 3, 3, 3, 5, 3, 3, 7, 5, 3, 3, 5, 3, 7, 5, 3, 3, 3, 5, 5, 7, 3, 7, 7, 3, 3, 7, 3, 7, 3, 7, 5, 3, 7, 3, 7, 7, 3, 7, 3, 5, 5, 7, 3, 3, 5, 7, 3, 3, 7, 5, 3, 3, 7, 3, 3, 5, 3, 3, 7, 3, 7, 5, 3, 5, 5, 3, 5, 3, 3, 3, 5, 3, 7, 7, 7, 3, 3, 3, 7, 3, 3, 3, 7, 3, 3, 7, 7, 3, 7, 3, 3, 3, 3, 3, 3, 5, 5, 7, 3, 5, 3, 5, 5, 7, 3, 3, 3, 7, 7, 3, 3, 7, 3, 3, 3, 3, 3, 3, 3, 3, 5, 3, 3, 7, 3, 3, 3, 7, 3, 3, 7, 3, 3, 5, 7, 7, 3, 3, 3, 5, 3, 5, 3, 3, 5, 3, 3, 3, 7, 3, 3, 5, 5, 3, 3, 5, 7, 3, 3, 3, 3, 5, 7, 3, 3, 3, 3, 3, 7, 5, 7, 3, 5, 3, 3, 5, 5, 3, 5, 7, 7, 3, 7, 3, 3, 7, 5, 3, 3, 7, 3, 3, 3, 3, 3, 5, 5, 5, 5, 7, 7, 3, 3, 5, 5, 5, 7, 3, 7, 7, 7, 7, 5, 7, 3, 7, 7, 3, 7, 7, 3, 7, 5, 5, 5, 7, 5, 5, 7, 3, 3, 7, 7, 3, 3, 3, 5, 7, 7, 7, 7, 5, 5, 5, 7, 3, 7, 7, 7, 7, 5, 5, 3, 3, 7, 5, 7, 3, 7, 3, 7, 3, 7, 5, 3, 7, 3, 5, 3, 5, 7, 7, 5, 3, 5, 5, 5, 3, 5, 5, 7, 3, 7, 3, 3, 7, 3, 5, 5, 3, 7, 5, 5, 3, 7, 3, 7, 7, 3, 3, 3, 3, 5, 5, 3, 5, 5, 7, 7, 7, 5, 7, 3, 7, 7, 3, 3, 3, 3, 7, 3, 7, 3, 3, 3, 3, 5, 7, 5, 3, 3, 3, 5]

In [142]:
print(len(SLA_days_list))

1001